*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
   font-size:10px;
   overflow:hidden;
}
.img{
    position:absolute;
    width:100vw;
    height:100vh;
    z-index:-1;
}
.footer{
    position:absolute;
    top:90vh;
    list-style-type:none;
    background-color:black;
    width:100vw;
    height: 10vh;
    color:white;
    padding:1rem;
    opacity:90%;
}
.footer ul{
    display:inline;
    margin-left:10rem;
    font-size:1.5rem;
}
.footer i{
    display:inline;
    font-size:30px;
    margin-left:10px;
}
.form{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:black;
    opacity:70%;
    color:white;
    padding:15px 5px 15px 30px;
    /* width:30%; */
}
.form input{
    display:block;
    width:80%;
    padding:7px;
    border-radius:5px;
}
.form label{
    font-size:19px;
    font-weight: 100;
}

.btn1{
    position:relative;
    top:20px;
    left:35%;
    color:white;
    border-radius:7px;
    color:black;
    padding:5px;
    margin-bottom:1.4rem;
}
.form h6{   
margin-left:13rem;
}